.header {
  text-align: center;

  h1 {
    color: #ffffff;
    font-size: 3.25em;
    line-height: 1.2;
  }

  p {
    color: rgba(255, 255, 255, 0.65);
    padding: 13px;
    font-size: 1.25rem;
  }
}
